@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  /*@apply bg-white dark:bg-gray-950;*/
  
  /*@media (prefers-color-scheme: dark) {*/
  /*  color-scheme: dark;*/
  /*}*/
}

body{ 
    --cl-bg: #120633;
    --cl-text: azure;
    
    background: var(--cl-bg);
    color: var(--cl-text);
}

@font-face {
    font-family: 'BellotaItalic';
    font-style: normal;
    font-weight: 400;
    src: local('BellotaItalic'), url("../font/Bellota-BoldItalic.ttf");
}