.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 30px;

    text-transform: uppercase;
    background: #fd6900;
    animation: glow 1s ease-in-out infinite alternate;

}

@media (max-width: 500px) {
    .button {
        font-size: 24px;
    }        
}
@media (max-width: 420px) {
    .button {
        font-size: 20px;
    }
}

@media (max-width: 340px) {
    .button {
        font-size: 18px;
    }
}
@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #a67c00, 0 0 40px #a67c00, 0 0 50px #a67c00, 0 0 60px #a67c00, 0 0 70px #a67c00;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #FDBE00FF, 0 0 40px #FDBE00FF, 0 0 50px #FDBE00FF, 0 0 60px #FDBE00FF, 0 0 70px #FDBE00FF, 0 0 80px #FDBE00FF;
    }
}